
a.maillink
{
	color:	#252525;
	text-decoration:	none;
}

a.maillink:hover
{
	color:	#000;
	text-decoration:	underline;
}

.text
{
	min-width:	450px;
	border:	1px	solid	#ccc;
	padding:	2px;

	font:	10pt	Arial,	Verdana,	Tahoma,	sans-serif;
	line-height:	130%;
	color:	#7a7978;
}

.text:hover,	.text:active,	.text:focus
{
	color:	#000;
}

p.subs
{
	padding-top:	8px;
}

span.subheading
{
	font-size:	11pt;
	font-weight:	bold;
	margin-bottom:	-8pt;
	color:	#151515;
}