img#slide1
{
	width: 250px;
	height: 166px;

	float: left; 
	padding: 20px 20px 10px 0px;
}

img#slide2
{
	width: 250px;
	height: 166px;

	float: left; 
	padding: 20px 20px 10px 0px;
	margin-left: -270px;
}