div#content_middle
{
	max-width:	1300px;
}

div#space_top
{
	max-width:	1300px;
}

td#mp_middle_right
{
	padding-right:	50px;
}

div.picture
{
	float:	left;
	margin:	10px;
}

div.picture	span.title
{
	font-size:	18px;
}

div.picture	img
{
	width:	320px;
	height:	240px;
	border:	0px;
}

div.picture	p.subtext
{
	font-size:	9pt;
	color:	#353535;
	text-align:	center;
	margin:	0px;
}
