body	{
	font-family:	Arial,	Verdana,	Tahoma,	sans-serif;
	font-size:	10pt;	
	line-height:	140%;	
	color:	#151515;

	background:	#fff;
	margin:	0px;
	padding:	0px	20px;
}

img	{
	border:	0px;
	padding:	0px;
}

h1	{
	font-size:	16pt;
	padding:	0px;
	margin:	0px;
}

img.at	{
	width:	14px;
	height:	14px;

	padding:	0px	2px;
	vertical-align:	middle;
}

img.dot	{
	width:	1px;
	height:	14px;

	padding:	0px	1px;
	vertical-align:	middle;
}

a.outlink
{
	background:	url('../gfx/outlink.gif')	no-repeat	5px	center;
	padding:	3px	0px	3px	18px;

	font-size:	9pt;
	color:	#316ac5;
	text-decoration:	none;
}

a.outlink:hover
{
	text-decoration:	underline;
}

a.h2link
{
	font-size:	11pt;
	font-weight:	bold;
	margin-bottom:	-8pt;
	color:	#151515;
}

a.h2link:hover
{
	text-decoration:	none;
}

a
{
	color:	#316ac5;
	text-decoration:	none;
}

a:hover
{
	text-decoration:	underline;
}

a.small
{
	font-size:	9pt;
}

ol	li
{
	list-style:	decimal	outside;
	padding:	0px	10px;
	line-height:	140%;
}

ul	li
{
	list-style:	url('../gfx/dash.gif')	outside;
	padding:	0px	10px;
	line-height:	140%;
}


/*	-----------------------------------------------------
			erste	Zeile	-	Platzhalter	&	1	graue	Design-Box
	-----------------------------------------------------	*/

div#space_top
{
	max-width:	1000px;
	min-width:	1000px;
	height:	16px;

	margin:	0px	auto;
	padding-top:	20px;
}

span#st_graybox_top
{
	position:	absolute;
	width:	96px;
	height:	16px;
	margin-left:	16px;

	overflow:	hidden;
	background-color:	#3b3a3a;
}


/*	-----------------------------------------------------
					Zeile	mit	Logo,	Menü-Buttons	&	Fadeout
	-----------------------------------------------------	*/

div#content_middle
{
	max-width:	1000px;
	min-width:	1000px;
	margin:	0px	auto;
}

div#menubar
{
	height:	42px;
	background:	#e9e6e4;

	clear:	both;
}

div#menubar	img
{
	height:	42px;
}

img#mb_logo
{
	width:	96px;
	height:	42px;
	float:	left;
	padding:	0px	13px	0px	16px;
}

div#mb_button_bkgnd
{
	height:	42px;
	float:	left;
	background:	url('../gfx/mb_button_bkgnd.gif')	repeat-x;
}

img.mb_button
{
	float:	left;
	margin:	0px	4px;
}

img#mb_home
{
	width:	64px;
	background:	url('../gfx/mb_home_std.gif')	no-repeat;
}

img#mb_phil
{
	width: 113px;
	background:	url('../gfx/mb_phil_std.gif')	no-repeat;
}

img#mb_services
{
	width:	100px;
	background:	url('../gfx/mb_services_std.gif')	no-repeat;
}

img#mb_offers
{
	width:	92px;
	background:	url('../gfx/mb_offers_std.gif')	no-repeat;
}

img#mb_buildingsites
{
	width:	101px;
	background:	url('../gfx/mb_buildingsites_std.gif')	no-repeat;
}

img#mb_references
{
	width:	111px;
	background:	url('../gfx/mb_references_std.gif')	no-repeat;
}

img#mb_contact
{
	width:	85px;
	background:	url('../gfx/mb_contact_std.gif')	no-repeat;
}

img#mb_fadeout
{
	width:	143px;
	float:	right;
}


/*	-----------------------------------------------------
				Zeile	mit	Design-Box	links	&	allem	Inhalt	rechts
	-----------------------------------------------------	*/

img.space96
{
	width:	96px;
	height:	1px;
	display:	block;
}

img#mp_lettering
{
	width:	18px;
	height:	530px;

	float:	right;
	padding:	0px	6px;
	margin:	0px;
	vertical-align:	bottom;
}

table#mp_middle
{
	min-height:	530px;
	margin-left:	16px;
}

td#mp_middle_left
{
	width:	96px;
	min-width:	96px;
	vertical-align:	top;

	background:	#c6c4c3	url('../gfx/mp_lettering_bkgnd.png')	repeat-x;
}

td#mp_middle_right
{
	width:	100%;
	padding:	30px	150px	25px	25px;
	vertical-align:	top;
}


/*	-----------------------------------------------------
			letzte	Zeile	mit	ner	Linie	und	allen	Daten	nochmal
	-----------------------------------------------------	*/

div#footer_bottom
{
	max-width:	1000px;
	min-width:	1000px;

	clear:	left;
	margin:	0px	auto;
}

div#last_line_txt
{
	font-size:	12px;
	text-align:	center;
	color:	#a09e9d;

	margin:	3px	88px	3px	44px;
}

hr#last_line
{
	color:	#fff;
	height:	1px;
	margin:	0px	88px	0px	44px;
}

a.unconspLink
{
	color:	#a09e9d;
	text-decoration:	none;
}

a.unconspLink:hover
{
	text-decoration:	underline;
}

div.center
{
	position: absolute;
  left: 50%;
  top: 50%;
	width: 400px;
  margin-left: -200px;
  margin-top: -100px;  
  
  padding: 20px;
  border: 2px solid #7a7978;
	background: #f7f7f7 url('../gfx/redir_bkgnd_br.gif') bottom right no-repeat;
  color: #7a7978;
  text-align: center;
}

div.center span.main
{
	font-size: 14pt;
}

div.center span.sub
{
	font-size: 10pt;
}
